<mat-card>
  <h1>Cadastro De Clientes</h1>


  <form class="example-form">


    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nome:</mat-label>
        <input matInput>
      </mat-form-field></td></tr><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Endereço</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Bairro:</mat-label>
        <input matInput placeholder="Ex. Taguatinga Norte">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Cidade:</mat-label>
        <input matInput placeholder="Ex. Taguatinga">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Estado:</mat-label>
        <input matInput placeholder="Ex. Distrito Federal">
      </mat-form-field></td>
    </tr></table>


    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Cpf/Cnpj:</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Fone:</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td>

          <mat-form-field class="example-full-width">
          <mat-label>Data de Entrada:</mat-label>
          <input matInput>
        </mat-form-field>

      </td>

    </tr></table>


    <table class="example-full-width" cellspacing="0">

      <td>

        <mat-form-field class="example-full-width">
          <mat-label>Data de Entrega:</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Condição de Pagamento:</mat-label>
          <input matInput placeholder="Ex. Pix">
        </mat-form-field>
      </td>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <button mat-raised-button color="basic">Salvar
          <mat-icon>done</mat-icon>
        </button>
      </tr>
    </table>

  </form>
</mat-card>



