<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>

<mat-toolbar class="toolbar mat-elevation-z4 ">
  <span>
    <a routerLink="/">
      <img src="assets/img/LogoColorida.png" alt="">
    </a>
  </span>

  <span>Rio Comunicação Visual</span>
  <span class="example-spacer"></span>
  <button mat-raised-button>Sair</button>

</mat-toolbar>

<div class="linha"></div>
