<div class="container">

  <mat-card class="card-formulario">

    <mat-card class="logo">
      <mat-card-content>
        <img src="assets/img/LogoColorida.png" alt="">
      </mat-card-content>

      <div class="textoTitulo">
        <p>
          Adesivos - Banners - Perfurados - Placas - Lonas - Envelopamentos
        </p>
        <p>
          Cartão de Visitas - Panfletos - Criação de Logomarcas
        </p>
      </div>

      <div class="textoTitulo2">
        <p>
          (61) 9 9999-9999 / 3333-3333
        </p>

      </div>


    </mat-card>



    <form class="example-form">
      <table class="example-full-width" cellspacing="0">

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nome:</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Endereço:</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Cnpj/Cpf:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Fone:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Data de Entrada:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Data da Entrega:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Condição de Pagamento:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
        </tr>
      </table>


      <div class="tableProdutos">
        <div class="inputMidias">
          <span>Item 1</span>
          <mat-form-field appearance="fill">
            <mat-label>Midia</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let midia of midia" [value]="midia">{{midia}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Acabamento</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let acabamento of acabamento" [value]="acabamento">{{acabamento}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Largura</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Altura</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Valor M²</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Quantidade</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Preço Total</mat-label>
            <input matInput>
          </mat-form-field>

          <button mat-raised-button color="basic">Enviar</button>
        </div>
      </div>

      <!--Tabela com adição e remoção-->




    </form>


    <!--Inicio da table Loiane-->

    <table mat-table [dataSource]="home" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Coluna Item -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let element"> {{element.item}} </td>
      </ng-container>

      <!-- Coluna Mídia -->
      <ng-container matColumnDef="midia">
        <th mat-header-cell *matHeaderCellDef> Midia </th>
        <td mat-cell *matCellDef="let element"> {{element.midia}} </td>
      </ng-container>

      <!-- Coluna Acabamento -->
      <ng-container matColumnDef="acabamento">
        <th mat-header-cell *matHeaderCellDef> Acabamento </th>
        <td mat-cell *matCellDef="let element"> {{element.acabamento}} </td>
      </ng-container>

      <!-- Coluna Largura -->
      <ng-container matColumnDef="largura">
        <th mat-header-cell *matHeaderCellDef> Largura </th>
        <td mat-cell *matCellDef="let element"> {{element.largura}} </td>
      </ng-container>

      <!-- Coluna Altura -->
      <ng-container matColumnDef="altura">
        <th mat-header-cell *matHeaderCellDef> Altura </th>
        <td mat-cell *matCellDef="let element"> {{element.altura}} </td>
      </ng-container>

      <!-- Coluna Valor Unitário -->
      <ng-container matColumnDef="valorUnitario">
        <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
        <td mat-cell *matCellDef="let element"> {{element.valorUnitario}} </td>
      </ng-container>

      <!-- Coluna Quantidade -->
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade </th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
      </ng-container>

      <!-- Valor Total -->
      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> Preço Total </th>
        <td mat-cell *matCellDef="let element"> {{element.valorTotal}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



  </mat-card>

  <br />


</div>
