<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>

<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Rio Comunicação Visual</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="linha"></div>

<div class="container">

  <mat-card class="card-formulario">
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Nome:</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Endereço:</mat-label>
              <input matInput />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Cnpj/Cpf:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Fone:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Data de Entrada:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Data da Entrega:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Condição de Pagamento:</mat-label>
              <input matInput placeholder />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div class="materiais">

        <mat-card class="selecao">
          <mat-card-content><mat-form-field appearance="fill">
            <mat-label>Midia</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let midia of midia" [value]="midia">{{midia}}</mat-option>
            </mat-select>
          </mat-form-field></mat-card-content>


          <mat-card-content><mat-form-field appearance="fill">
            <mat-label>Acabamento</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let acabamento of acabamento" [value]="acabamento">{{acabamento}}</mat-option>
            </mat-select>
          </mat-form-field></mat-card-content>

          <mat-form-field class="example-full-width">
            <mat-label>Largura</mat-label>
            <input matInput placeholder />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Altura</mat-label>
            <input matInput placeholder />
          </mat-form-field>

          <mat-card-content><mat-form-field appearance="fill">
            <mat-label>Valor</mat-label>
            <mat-select>
              <mat-option>Valor</mat-option>
              <mat-option *ngFor="let valor of valor" [value]="valor">{{valor}}</mat-option>
            </mat-select>
          </mat-form-field></mat-card-content>



        </mat-card>
      </div>

      <mat-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-card-content><mat-form-field appearance="fill">
          <mat-label>Midia</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let midia of midia" [value]="midia">{{midia}}</mat-option>
          </mat-select>
        </mat-form-field></mat-card-content>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>




      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">



          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </form>

  </mat-card>
  <br />

</div>
