/*
.color1 { #4598d9 };
.color2 { #3487c7 };
.color3 { #2377b4 };
.color4 { #1166a2 };
.color5 { #00558f };
*/

.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: #00558f ;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 70px;
  font-size: 28px;
  font-weight: 600;
}

.linha{
  height: 25px;
  background-color: #2377b4;
}

.card-formulario{
  width: 80%;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #fa8314;
}

.textoTitulo{
  text-align: center;
  margin-top: 20px;
}

.textoTitulo2{
  margin-left: 470px;
  text-align: center;
  margin-top: 20px;
}

img{
  height: 100px;
  margin-left: 50px;
}

.container{
  display: flex;
  justify-content: center;
}


.example-form {
  margin: 45px;
}

.example-full-width {
  width: 100%;
}

.tableProdutos{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.tableProdutos td, th{
  border: #00558f 1px solid;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.tableProdutos td{
  border: #00558f 1px solid;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

.produtos{
  border-collapse: collapse;
  color: #2377b4;
  width: 100%;
}

.inputMidias{
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #2377b4;
  width: 100%;
}













