
.demo-table{
  background-color: #4598d9;
  padding: 10px;
}


.demo-button-container {
  margin: 20px 190px;
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}



/*
.color1 { #4598d9 };
.color2 { #3487c7 };
.color3 { #2377b4 };
.color4 { #1166a2 };
.color5 { #00558f };
*/

mat-card{
  width: 80%;
  margin: auto;
  padding: 50px;
}

h1 {
  color: #00558f;
  font-family: 'Poppins', sans-serif;
  height: 45px;
  font-size: 28px;
  font-weight: 600;
}


.example-form {

  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

button {

  align-items: center;
  background-color: #2377b4  !important;
  color: #fff !important ;
}

.example-full-width {
  width: 150px;
}

mat-form-field {
  width: 150px;
}
