<mat-card>
  <h1>Alterar Cliente</h1>

  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()"  class="example-form">



    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Nome:</mat-label>
            <input type="text" [(ngModel)]="cliente.nome" name="nome" matInput />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Endereço</mat-label>
            <input type="text" [(ngModel)]="cliente.endereco" name="endereco" matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Bairro:</mat-label>
            <input type="text" [(ngModel)]="cliente.bairro" name="bairro" matInput placeholder="Ex. Taguatinga Norte" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Cidade:</mat-label>
            <input type="text" [(ngModel)]="cliente.cidade" name="cidade" matInput placeholder="Ex. Taguatinga" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Estado:</mat-label>
            <input type="text" [(ngModel)]="cliente.estado" name="estado" matInput placeholder="Ex. Distrito Federal" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Cpf/Cnpj:</mat-label>
            <input type="text" [(ngModel)]="cliente.cpf" name="cpf" matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Fone:</mat-label>
            <input type="text" [(ngModel)]="cliente.fone" name="fone" matInput />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Data de Cadastro:</mat-label>
            <input type="date" [ngModel]="cliente.data_registro" name="data_registro" matInput />
          </mat-form-field>
        </td>

      </tr>
    </table>

    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <button mat-raised-button (click)="updateCliente()" color="basic">
            Atualizar
            <mat-icon>done</mat-icon>
          </button>
        </td>
        <td>
          <button class="btnCancelar" mat-raised-button (click)="cancel()" color="basic">
            Cancelar
            <mat-icon>done</mat-icon>
          </button>
        </td>

      </tr>
    </table>
  </form>
</mat-card>

