.card-formulario{
  width: 80%;
}

.container{
  display: flex;
  justify-content: center;
}


.tableProdutos td, th{
  font-family: 'Poppins', sans-serif;
  padding: 0;
}


table th, td{
  text-align: center;
  color: #00558f;
}

table th{
  background-color: #4598d9;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border: 0.5px solid #fff;
}














